h1 {
    font-size: larger;
    font-family: fantasy;
}
header {background-color: blue;
        text-align: center;

}
body {background-color: rgb(127, 112, 141);
}
p {text-align: center;
         color:honeydew;
         font-size:medium;

}
